[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/opencv/opencv.git
[submodule "external/opencv_extra"]
	path = external/opencv_extra
	url = https://github.com/opencv/opencv_extra.git
